/* Give your page a fun background color */
body {
    margin: 0px;
    background-color:brown; 
}

/* Make the header and footer a different color from the background */
header {
    padding: 5px 15px;
    background-color: tan;
}
footer {
    padding: 10px 15px;
    background-color: tan;
    margin-top: 250px;
}
    

/* Align the h1 containing your name in the center of the header*/
h1 {
    text-align: center;
}

/* Make your p tag a different color and italic */
p {
    color: gray;
    font-style: italic;
}
/* Put a border around your image */
img {
    margin-left: 5px;
    margin-top: 5px;
   border: 5px solid black;
   border-radius: 50%;
   padding: 10px;
   width: 150px;
}

/* Change the font-family of your list */
ul {
    margin-top: -25px;
    margin-left: 5px;
    padding: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h2 {
    margin-top: 0px;
    padding: 10px;
}

